In [44]:
import pandas as pd
data = pd.read_csv('seeds_dataset.data',sep="\t")
print(data.head(4))

ParserError: Error tokenizing data. C error: Expected 8 fields in line 8, saw 10

In [35]:
data.pop(' UNS')
data.head(4)

    STG   SCG   STR   LPR   PEG
0  0.00  0.00  0.00  0.00  0.00
1  0.08  0.08  0.10  0.24  0.90
2  0.06  0.06  0.05  0.25  0.33
3  0.10  0.10  0.15  0.65  0.30

In [36]:
data.to_csv(r'User_Knowledge_Modeling.data',index=False)

In [37]:
for col in data.columns:
    print(col,"value")

STG value
SCG value
STR value
LPR value
PEG value

In [18]:
print(data.shape)

(980, 10)

In [21]:
for i in range (1,52):
    head = "Normalized "+str(i)
    data.pop(head)

In [24]:
data.head(3)

,Product_Code,W0,W1,W2,W3,W4,W5,W6,W7,W8,...,W44,W45,W46,W47,W48,W49,W50,W51,MIN,MAX
0,P1,11,12,10,8,13,12,14,21,6,...,8,10,12,3,7,6,5,10,3,21
1,P2,7,6,3,2,7,1,6,3,3,...,5,1,1,4,5,1,6,0,0,10
2,P3,7,11,8,9,10,8,7,13,12,...,5,5,7,8,14,8,8,7,3,14

In [25]:
data.pop('MIN')
data.pop('MAX')
data.pop('Product_Code')
data.head(3)

,W0,W1,W2,W3,W4,W5,W6,W7,W8,W9,...,W42,W43,W44,W45,W46,W47,W48,W49,W50,W51
0,11,12,10,8,13,12,14,21,6,14,...,4,7,8,10,12,3,7,6,5,10
1,7,6,3,2,7,1,6,3,3,3,...,2,4,5,1,1,4,5,1,6,0
2,7,11,8,9,10,8,7,13,12,6,...,6,14,5,5,7,8,14,8,8,7

In [80]:
data.to_csv(r'ILPD.data',index=False)

In [79]:
for col in data.columns:
    print(col,"value")

Age value
TB value
DB value
Alkphos value
Sgpt value
Sgot value
TP value
ALB value
AGRation value
class value

In [74]:
def getData(dataset_name):
    attribute_file_name = '../Data/'+dataset_name+".attribute"
    dataset_file_name = '../Data/'+dataset_name+".data"
    att = pd.read_csv(attribute_file_name,
                      delim_whitespace=True,
                     header = None)
    attributes = {rows[0]:rows[1] for _,rows in att.iterrows()}
    dataset = pd.read_csv(dataset_file_name,
                      names=list(attributes.keys()))
#     if 'class' in attributes: 
#         del attributes['class']; del dataset['class']
    return attributes, dataset

In [75]:
att, data = getData('ILPD')

In [76]:
data.pop()

   Age  Gender    TB   DB  Alkphos  Sgpt  Sgot   TP  ALB  AGRation  class
0   65  Female   0.7  0.1      187    16    18  6.8  3.3      0.90      1
1   62    Male  10.9  5.5      699    64   100  7.5  3.2      0.74      1
2   62    Male   7.3  4.1      490    60    68  7.0  3.3      0.89      1
3   58    Male   1.0  0.4      182    14    20  6.8  3.4      1.00      1

In [78]:
print(data.head(4))

   Age    TB   DB  Alkphos  Sgpt  Sgot   TP  ALB  AGRation  class
0   65   0.7  0.1      187    16    18  6.8  3.3      0.90      1
1   62  10.9  5.5      699    64   100  7.5  3.2      0.74      1
2   62   7.3  4.1      490    60    68  7.0  3.3      0.89      1
3   58   1.0  0.4      182    14    20  6.8  3.4      1.00      1